<div class="header">
  <span class="title">dubcdr presents: A Decade Wrapped</span>
  <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:dubcr&size=detail&theme=dark"
          width="300"
          height="56"
          scrolling="no"
          frameborder="0"
          style="border:none; overflow:hidden;"
          allowtransparency="true"></iframe>
</div>
<div id="fullpage"
     fullpage
     [options]="config"
     (ref)="getRef($event)">
  <div class="section">
    Hello there
  </div>
  <div class="section">
    <h1>Sounds of the Decade</h1>
    <iframe src="https://open.spotify.com/embed/playlist/1mAKNVB2TgzPiKWJRdbEdq"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
  </div>
  <div class="section">
    <h1>Deep Cuts</h1>
  </div>
  <div class="section">
    <h1>ED10</h1>
  </div>
</div>
