<div id="fullpage"
     fullpage
     [options]="config"
     (ref)="getRef($event)">
  <div class="section">
    Hello there
  </div>
  <div class="section">
    <h1>Sounds of the Decade</h1>
    <iframe src="https://open.spotify.com/embed/playlist/1mAKNVB2TgzPiKWJRdbEdq"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"></iframe>
  </div>
  <div class="section">
    <h1>Deep Cuts</h1>
    <ng-container *ngIf="playlistItems; else elseTemplate">
      <ng-container *ngFor="let item of playlistItems">
        {{item | json}}
      </ng-container>
    </ng-container>
    <ng-template #elseTemplate>
      loading...
    </ng-template>


  </div>
  <div class="section">
    <h1>ED10</h1>
  </div>
</div>
